  <div class="jumbotron">
    <h1 class="title">积木科斯</h1>
    <p class="slogan">

    钻石总会不远万里，从矿工手里流向美人怀中
    <br>
    木桶理论已被淘汰，长板需要与新的长板对接
    <br>
    该求职网站勒令你：快找到位置对接高能人生
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上对接</a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://ico.ooopic.com/iconset01/the-noun-project-icons/gif/140635.gif" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京中路锦祥家园</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://img4.imgtn.bdimg.com/it/u=1498620228,3738376760&fm=26&gp=0.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@coaseblocks.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://tlcbbq.com.hk/image/data/contact.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>0951-1234321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
